version: 2.1

jobs:
  build:
    parameters:
      node_version:
        description: "Node version to test."
        type: string
    working_directory: ~/inversify-token
    docker:
      - image: circleci/node:<< parameters.node_version >>
    steps:
      - checkout
      - run: npm install
      - run: npm test
  lint:
    working_directory: ~/inversify-token
    docker:
      - image: circleci/node:17
    steps:
      - checkout
      - run: npm install
      - run: npx commitlint --from origin/master --to HEAD
  deploy:
    working_directory: ~/inversify-token
    docker:
      - image: circleci/node:17
    steps:
      - checkout
      - run: npm install
      - run: npm run semantic-release

workflows:
  version: 2
  ci:
    jobs:
      - lint
      - build:
          name: carbon
          node_version: "8"
      - build:
          name: dubnium
          node_version: "10"
      - build:
          name: erbium
          node_version: "12"
      - build:
          name: fermium
          node_version: "14"
      - build:
          name: latest
          node_version: "latest"
      - deploy:
          requires:
            - lint
            - carbon
            - dubnium
            - erbium
            - latest
          filters:
            branches:
              only: master
